*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-part{
    text-align: center;
    margin:auto;
    width: 30rem;
    height: 20rem;
    background-color: rgb(255, 47, 169);
}
h1{
    font-size: 50px;
    padding-top: 5rem;
}
.buttons{
    margin-top: 3rem ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button{
    padding: 1rem 3.5rem;
    border: none;
    cursor: pointer;
}
